body {
  color: #bcc2c1;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #7c7d7d;
  margin-bottom: 10px;
}

a {
  color: #35c7bc;
}

p {
  display: block;
  text-align: center;
  font-size: 14px;
}

a:hover {
  color: #35c7bc;
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#container-weather-app {
  display: grid;
  grid-template-columns: repeat(1 400px 1fr);
  background-color: #fafafa;
  padding: 20px;
  margin: 30px auto;
  border: 2px;
  border-radius: 6px;
  max-width: 700px;
  box-shadow: 3px 3px 5px #7c7d7d;
}

.weather-app-input {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 0px 10px;
}

.city-input {
  border-radius: 4px;
  border: 1px solid #bcc2c1;
  width: 400px;
  height: 40px;
  line-height: 1.5;
  margin: 10px 0px 10px;
  box-shadow: 1px 1px 2px #7c7d7d;
  padding: 0.375rem 0.75rem;
}

button,
.submit-button {
  color: #fafafa;
  background: #35c7bc;
  border-radius: 3px;
  border: 2px #7c7d7d;
  box-shadow: 1px 1px 2px #7c7d7d;
  padding: 5px 8px;
  margin: 10px 0px 10px 20px;
  width: 100px;
  height: 40px;
}

button:hover,
.submit-button:hover {
  color: #35c7bc;
  cursor: pointer;
  background: #fafafa;
  border: #7c7d7d;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}

#date-description-wrapper {
  display: grid;
  box-sizing: content-box;
  margin: 20px 10px 15px;
}

.location-display {
  display: grid;
  font-size: 36px;
  padding: 0;
  line-height: 24px;
}

.day-temp-details {
  font-size: 18px;
}

#weather-wrapper {
  display: grid;
  grid-template-columns: 22% 30% 43%;
  grid-gap: 10px;
  margin: 0px 10px auto;
}

.fa-cloud-meatball {
  font-size: 80px;
  color: #35c7bc;
  margin: 12px 0 0 10px;
}

#main-temperature {
  margin-left: 12px;
}

.temperature {
  font-size: 72px;
  color: #7c7d7d;
}

.temp-units {
  color: #35c7bc;
  font-size: 18px;
  position: relative;
  top: -42px;
  padding: 2px;
}

#weather-details-box {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 28px;
}

.weather-details-numbers {
  color: #35c7bc;
}